body {
	height: 1024px;
	}

#bar {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;  
	height: 60px; 
	background-color: #954040;
}

#back {
	position: relative;  
	left: 6%; 
	font-family: 'Bitter', sans-serif; 
	float: left; 
	font-size: 20px; 
	}

#next {
	font-family: 'Bitter', sans-serif;
	position: relative; 
	left: 80%; 
	font-size: 20px; 
	}


a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
}

#rover {
	position: relative; 
	left: 37%; 
	top: 620px; 
	width: 1000px; 
} 

body {
	background-color: black; 
	} 
	
#landscape {
	position: relative; 
	top: 100px; 
	width: 500px; 
	height: 300px; 
	margin: 0 auto; 
	background-image: url(../images/postcard_3.jpg);
	background-repeat: no-repeat; 
}